body {
  margin: 0;
  min-height: 100vh;

  background-color: #123053;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23123053' cx='50' cy='0' r='50'/%3E%3Cg fill='%23112f51' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23102d4f' cx='50' cy='100' r='50'/%3E%3Cg fill='%230f2c4d' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%230f2a4a' cx='50' cy='200' r='50'/%3E%3Cg fill='%230e2948' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%230d2746' cx='50' cy='300' r='50'/%3E%3Cg fill='%230c2644' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%230b2542' cx='50' cy='400' r='50'/%3E%3Cg fill='%230a2340' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2309223e' cx='50' cy='500' r='50'/%3E%3Cg fill='%2309203c' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23081f3a' cx='50' cy='600' r='50'/%3E%3Cg fill='%23071e38' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23061c36' cx='50' cy='700' r='50'/%3E%3Cg fill='%23061b34' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23051a32' cx='50' cy='800' r='50'/%3E%3Cg fill='%23051830' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2304172e' cx='50' cy='900' r='50'/%3E%3Cg fill='%2304162c' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2303142A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;

  color: #000;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1.5;
}

p {
  font-size: 7rem;
  text-align: center;
  color: white;
  margin: 0;
  line-height: 0;

  &:nth-of-type(5) {
    color: black;
  }
}
